__pycache__/
*.pyc
*.pyo
*.pytest_cache/
.pytest_cache
.mypy_cache/
.ruff_cache/
.venv/
env/
build/
dist/
htmlcov/
.coverage*
.vscode/
.idea/
.DS_Store
*.log
alembic/versions/*.pyc
.env
node_modules/
